
workDir = params.workdir

executor {
    name = "lsf"
    //queueSize = 1000
}

singularity { 
    enabled = true
    autoMounts = true
    cacheDir = params.cachedir
    //temp = "/hps/nobackup2/singularity/mhoelzer/build/.singularity/tmp"
}
            
process {   
	cache = "lenient"
	//errorStrategy = "retry"
    //maxRetries = 1

    withLabel: basics { cpus = 2 ; memory = '16 GB'; container = 'nanozoo/basics:1.0--da8477a' }
    withLabel: mash { cpus = 8 ; memory = '4 GB'; container = 'nanozoo/mash:2.2.2--caf92f3' }
}
